:root {
  --dark-color: #000000;
  --primary-color: #a0295b;
  --accent-color: #232323;
  --secondary-color: #231456;
  --light-color: #ffffff;
}

body {
  background-color: var(--dark-color);
  color: var(--dark-color);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 80vw;
  margin: 2rem auto;
  background-color: var(--light-color); 
}

.colorBoxContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 12rem;
}

.colorBoxColor {
  width: 12rem;
  height: 12rem;
}

button {
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.colorBoxButtons {
  display: flex;
  flex-direction: column;
  width: 10rem;
  color: var(--dark-color);
}

.colorBoxButtons button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
}

.colorBoxButtons input {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  border: solid 2px;
}

.boxHolder {
  display: flex;
  flex-direction: row;
}