:root {
  --dark-color: #3a1329;
  --primary-color: #752e67;
  --accent-color: #b8c192;
  --secondary-color: #6a9072;
  --light-color: #fdefce;

  --basic-shadow: 0 2px 4px -1px var(--dark-color);
}

body {
  background-color: var(--dark-color);
  color: var(--dark-color);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: min-content;
  margin: 2rem auto;
  background-color: var(--light-color);
  border-radius: 1rem;
  box-shadow: var(--basic-shadow);
  padding: 0 2rem;
}

.colorBoxContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 12vw;
}

.colorBoxColor {
  width: 12vw;
  height: 12vw;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 0.5rem;
  box-shadow: var(--basic-shadow);
  font-family: 'Nunito', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.colorBoxButtons {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  justify-content: center;
  color: var(--dark-color);
}

.colorBoxButtons button,
.colorBoxButtons button:hover {
  background-color: transparent;
  color: var(--dark-color);
  padding: 0;
  margin: 0;
  text-align: center;
  box-shadow: none;
}

input[type=text] {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px var(--secondary-color);
  background-color: var(--light-color);
  color: var(--dark-color);
}

.boxHolder {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  box-shadow: var(--basic-shadow);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--accent-color);
}

.randomizeall {
  margin: 1rem 0 2rem 0;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1.5rem 0;
  align-items: center;
  width: 100%;
}

h2 {
  margin: 0;
  margin-right: auto;
  color: var(--dark-color);
}

h2:hover {
  color: var(--accent-color);
}

.invalidHex {
  margin: 0;
  padding: 0;
}

@media (max-width: 1178px) {
  body {
    font-size: small;
  }

  button {
    font-size: small;
  }

  input[type=text] {
    margin: 2px;
    padding: 2px;
    width: 8vw;
    font-size: smaller;
  }
}

@media (max-width: 790px) {

  input[type=text] {
    margin: auto;
    padding: 2px;
    width: 4rem;
    font-size: small;
  }

  .boxHolder {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .mainDiv {
    max-width: min-content;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  .colorBoxContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    max-width: 100%;
  }

  .colorBoxColor {
    width: 40vw;
    height: 20vw;
  }

  .colorBoxButtons {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  h2 {
    margin: auto;
  }
}